<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cubi.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Communication.Application"
        android:allowBackup="true"
        android:icon="@drawable/laadscherm"
        android:label="Cubi"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoadingScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Training.TrainingActivity" />
        <activity android:name=".Conversation.ConversationActivity" />
        <activity android:name=".ModusScreen" />
        <activity android:name=".Conversation.ConversationSettingsActivity"></activity>
    </application>

</manifest>